/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  font-family: 'Roboto';
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  border: none;
  border-radius: 10px;
}
.heading {
  color: #0f172a;
  font-size: 32px;
}
p {
  color: #334155;
}
.button {
  height: 36px;
  width: 100px;
  border: none;
  border-radius: 10px;
}
